<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Elite Fitness FTISU</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.thiennp03.elitefitness</string>
          <string>com.thiennp03.EliteFitness</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.636989636710-v0dbjqosmveq8fa47c1e6mv4es2p4p64</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>exp+elitefitness</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>10</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>This app requires access to your camera to allow you to capture and upload images directly from the app. Camera access will only be used for in-app functions and will not be used for tracking or advertising.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>The Elite Fitness app requires access to your microphone to record audio or capture video within the app. Microphone access will only be used for in-app functions and is unrelated to tracking or advertising.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to save photos</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app requires access to your photos to allow you to select and share images within the app. Your photos will only be used for this purpose and will not be shared with third parties.</string>
    <key>NSPrivacyCollectedDataTypes</key>
    <dict>
      <key>NSPrivacyCollectedDataTypeName</key>
      <string>Collected to personalize your experience, such as displaying your name in the app and providing personalized content.</string>
      <key>NSPrivacyCollectedDataTypeEmailAddress</key>
      <string>Collected to communicate with you, send account-related information, and personalize your app experience.</string>
      <key>NSPrivacyCollectedDataTypePhoneNumber</key>
      <string>Collected to provide customer support, verify your identity, and for account-related communications.</string>
      <key>NSPrivacyCollectedDataTypePhysicalAddress</key>
      <string>Collected for verifying your location, sending physical goods, or personalizing content based on your location.</string>
      <key>NSPrivacyCollectedDataTypeOtherUserContactInfo</key>
      <string>Collected to improve communication and provide support beyond the app's functionalities.</string>
      <key>NSPrivacyCollectedDataTypeContacts</key>
      <string>Collected to enhance your experience by integrating with your contacts for better interaction within the app.</string>
      <key>NSPrivacyCollectedDataTypeEmailsOrTextMessages</key>
      <string>Collected to personalize content, provide updates, and manage communication effectively.</string>
      <key>NSPrivacyCollectedDataTypePhotosorVideos</key>
      <string>Collected to allow you to upload and share photos or videos, and customize your app experience with your media.</string>
      <key>NSPrivacyCollectedDataTypeOtherUserContent</key>
      <string>Collected to support and manage your interactions and contributions within the app.</string>
      <key>NSPrivacyCollectedDataTypeDeviceID</key>
      <string>Collected to enhance app performance, provide analytics, and maintain app security.</string>
      <key>NSPrivacyCollectedDataTypeProductInteraction</key>
      <string>Collected to analyze how you use the app, improve functionality, and enhance user experience.</string>
      <key>NSPrivacyCollectedDataTypePerformanceData</key>
      <string>Collected to monitor app performance, detect issues, and optimize functionality.</string>
    </dict>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>